<div class="schedule-dialog">
  <div class="schedule-dialog__header">
    <div>
      <h1 class="schedule-dialog__title">Horaires des bateaux</h1>
      <p  class="schedule-dialog__title-date">Mardi 23 avril</p>
    </div>
    <span mat-dialog-close class="schedule-dialog__header-close material-symbols-outlined">close</span>
  </div>

  <!-- <h1 mat-dialog-title>Install Angular</h1> -->
  <mat-dialog-content class="mat-typography schedule-dialog__content">

  </mat-dialog-content>

  <!-- <mat-dialog-actions align="end">
    <button matButton mat-dialog-close>Cancel</button>
    <button matButton [mat-dialog-close]="true" cdkFocusInitial>Install</button>
  </mat-dialog-actions> -->
</div>


<!-- Copyright 2025 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
