:host {
  background-color: #6cceeb; /* Remplacez par la couleur de votre choix */
  padding: 20px; /* Optionnel : ajoutez un padding pour un meilleur espacement */
  height: 100vh; /* Utilisez height au lieu de min-height */
  box-sizing: border-box; /* Inclut le padding dans la hauteur totale */
  overflow: auto; /* Ajoute une barre de défilement uniquement si nécessaire */
  display: flex;
  flex-direction: column;
}

.header {
  background-color: antiquewhite;
  flex-grow: 0;
}

.header__title {
  margin: 0;
  text-align: center;
}

.header__greeting {
  margin: 0;
}

.main {
  flex: 1; /* Fait prendre toute la place au conteneur */
  background-color: #F0F8FA;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre les éléments au verticalement */
}
