@import '../../../styles/variables';


.trip-section__transport {
  display: flex;
  color: $primary-color;
  font-weight: bolder;
  font-style: normal;
  font-size: larger;
}

.trip-section__transport-schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.trip-section__transport-destination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  // color: red;
  // font-family: 'Times New Roman', Times, serif;
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.trip-section__transport-destination div, .trip-section__transport-schedule p {
  font-family: "Lilita One";
  font-weight: lighter;
}

.trip-section__transport-color {
  background-color: black;
  min-width: 0.1 em;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.trip-section__connection {
  margin: 1em 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0;
}

p {
  margin: 10px;
}


.section-duration, .section-icon {
  color: $neutral-color;
  font-weight: lighter;
}
