<p>date-picker works!</p>

<mat-form-field class="date-picker__input">
  <mat-label>Choisissez une date</mat-label>
  <input matInput [matDatepicker]="datepicker" [(ngModel)]="dateSelected" (ngModelChange)="onDateOrTimeChange()">
  <mat-datepicker touchUi #datepicker/>
  <!-- <mat-datepicker touchUi #datepicker>
    <mat-datepicker-actions>
      <button matButton matDatepickerCancel>Cancel</button>
      <button matButton="elevated" matDatepickerApply>Apply</button>
    </mat-datepicker-actions>
  </mat-datepicker> -->
  <mat-datepicker-toggle [for]="datepicker" matSuffix/>
</mat-form-field>

<mat-form-field class="date-picker__input">
  <mat-label>Heure du départ</mat-label>
  <input matInput
    [matTimepicker]="timepicker"
    [(ngModel)]="dateSelected"
    (ngModelChange)="onDateOrTimeChange()">
  <mat-timepicker touchUi #timepicker interval="2h"/>
  <mat-timepicker-toggle [for]="timepicker" matSuffix/>
</mat-form-field>
