<app-trip-header-component></app-trip-header-component>

<div class="proposals-list__configuration">
  <div class="proposals-list__configuration-destinations">
    <h2>Toulon (Toulon)</h2>
    <span class="material-symbols-outlined">arrow_forward</span>
    <h2>Belle-Île-en-Mer</h2>
  </div>
  <h3  class="proposals-list__configuration-date">le Mardi 14 février 2025</h3>
</div>

<p> {{ this.results.length }} résultats :</p>

@for (journey of results; track $index) {
  <app-trip-proposal-item [journey]="journey" ></app-trip-proposal-item>
}

<app-trip-proposal-item ></app-trip-proposal-item>
