@import '../../styles/variables' ;
@import '../../styles/layout';

.trip-configurator__modal-button {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

  padding: 10px; /* Exemple de padding */
  display: block; /* Assure que le padding fonctionne correctement */
  background-color: $primary-color; /* Exemple de couleur de fond */
  color: white; /* Exemple de couleur de texte */
  text-decoration: none; /* Enlève le soulignement du lien */
  border-radius: 5px; /* Optionnel : arrondit les coins */
  text-align: center;
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Lilita One";
  font-size: 18px;
}

.proposals-list__configuration {
  color: $primary-color ;
}

.proposals-list__configuration-destinations{
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 0.5em;

  h2 {
    margin: 0;
    // font-family: "Lilita one";
  }
}

.proposals-list__configuration-date{
  margin: 0;
}

.proposals-list__loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // min-height: 60vh;
  // max-width: 30vh;
  gap: 1rem;
  color: $primary-color;
}

.proposals-list__loading-spinner ::ng-deep .mat-mdc-progress-spinner circle {
  stroke: $primary-color !important;
}
