
@if(journey(); as j){
  <div class="trip-proposal-item" (click)="getJourneyDetails()">
    <div class="circle__left"></div>
    <div class="square__left"></div>
    <div class="transport-line"></div>
    <div class="circle__right"></div>
    <div class="square__right"></div>

    <div>
      <p class="trip-proposal-item__departure">{{ j.journeyFirstSection.departure_date_time | timePipe  }} : {{ j.journeyFirstSection.from.name }}</p>
      <p class="trip-proposal-item__arrival">{{ j.journeyLastSection.arrival_date_time | timePipe  }}: {{ j.journeyLastSection.to.name }}</p>
    </div>

    <div class="trip-proposal-item__symbol">
      @for (section of j.sections; track $index) {
        @if (section.type == "public_transport"){

          @if (section.display_informations.physical_mode.includes("Train") || section.display_informations.physical_mode.includes("TER")) {
            <span class="material-symbols-outlined">directions_railway_2</span>
          }@else if(section.display_informations.physical_mode.includes("Bateau")){
            <span class="material-symbols-outlined section-icon">directions_boat</span>
          }@else if(section.display_informations.physical_mode.includes("Autocar")){
            <span class="material-symbols-outlined section-icon">directions_bus</span>
          }

          @if( (j.sections.length > 1) && ($index < j.sections.length - 1)){
            <span class="material-symbols-outlined arrow">arrow_right</span>
          }
        }
      }
    </div>

    <div class="trip-proposal-item__duration">
      <span class="material-symbols-outlined">schedule</span>
      <p>{{ j.duration | durationPipe  }}, {{ j.nb_transfers | connectionPipe }}</p>
    </div>
  </div>
}


<!-- <div class="trip-proposal-item">
  <div class="circle__left"></div>
  <div class="square__left"></div>
  <div class="transport-line"></div>
  <div class="circle__right"></div>
  <div class="square__right"></div>
  <div>
    <p class="trip-proposal-item__departure">06h12: Toulon (GARE)</p>
    <p class="trip-proposal-item__arrival">12:24: Auray (GARE)</p>
  </div>

  <div class="trip-proposal-item__symbol">
    <span class="material-symbols-outlined transport">train</span>
    <span class="material-symbols-outlined">tram</span>
    <span class="material-symbols-outlined">directions_railway_2</span>
    <span class="material-symbols-outlined arrow">arrow_right</span>
    <span class="material-symbols-outlined">directions_railway_2</span>
    <span class="material-symbols-outlined">directions_subway</span>
    <span class="material-symbols-outlined">tram</span>
    <span class="material-symbols-outlined arrow">arrow_right</span>
    <span class="material-symbols-outlined">directions_bus</span>
    <span class="material-symbols-outlined arrow">arrow_right</span>
    <span class="material-symbols-outlined">directions_boat</span>

  </div>

  <div class="trip-proposal-item__duration">
    <span class="material-symbols-outlined">schedule</span>
    <p>6h31, 3 correspondances</p>
  </div>

</div> -->
