<div class="trip-destination__pickers">
  <!-- Appel des deux destinations picker -->

  <!-- Input vide, choix de l'utilisateur -->
  <app-destination-picker
    placeholderText="Départ: d'où partons nous ?"
    (selectedDestination)="onDestinationReceivedByPicker($event)"
    [defaultDestination] = "departure">
  ></app-destination-picker>

  <!-- Par défaut, belle ile -->
  <app-destination-picker
    placeholderText = "Arrivée: où allons nous ?"
    (selectedDestination)="onDestinationReceivedByPicker($event)"
    [defaultDestination] = "arrival">
  </app-destination-picker>

  <button class="trip-destination__swap-button" (click)="swapDestinations()">
    <span class="material-symbols-outlined">swap_vert</span>
  </button>
</div>
