<div class="trip-configurator">
    <app-trip-header-component></app-trip-header-component>

    <p class="trip-configurator__greetings">Hey Marin ! <br>  On va à Belle-Île ?</p>

    <div class="trip-configurator__wrapper">
      <app-trip-destinations-form
        [arrival]="arrival()"
        [departure]="departure()"
        (departureSelectedEvent)="onDepartureSelected($event)"
        (arrivalSelectedEvent)="onArrivalSelected($event)"
        (swappDestinationEvent)="onDestinationsSwapped()">
      </app-trip-destinations-form>

      <app-trip-date-picker (dateChangeEvent)="onDateSelected($event)"></app-trip-date-picker>
    </div>

    <app-trip-search-button [isDisabled]="!isTripValid()" (click)="onSearch()"></app-trip-search-button>
</div>
