@import '../../styles/variables' ;
@import '../../styles/layout';

.trip-configurator__wrapper {
  flex: 1; /* prend tout l’espace dispo sous le header */
  // background-color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //padding: 1em;
  box-sizing: border-box;
  //margin: 2em 0;
}

.trip-configurator__greetings {
  color: $primary-color ;
  margin: 0;
  font-size: 26px;
  font-family: "Lilita One";
  // background-color: bisque;
}
