.places-autocomplete__input {
  padding: 0.75em;
  padding-left: 1em;
  border-radius: 0.5em;
  border: none;
  width: 100%;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.places-autocomplete_proposal {
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  margin-right: 0.5em;
}
