<div class="places-autocomplete">
  <input
    class="places-autocomplete__input"
    type="text"
    [readonly]="isReadOnly"
    [value]="valueText"
    [placeholder]="placeholderText"
    [disabled]="isDisabled"
    (input)="autoComplete($event)"
    (blur)="essai($event)"
    (focus)="focus($event)">

  <div class="places-autocomplete__results">
    @if (isDropdownOpen()) {
      @for (proposal of autoCompleteResults() ; track $index) {
        <button class="places-autocomplete__result-item" (click)="chooseDestination(proposal)" >
          {{proposal.name}}
        </button>
      }
    }
  </div>

</div>
