.trip-configurator__search-button {
  padding: 10px; /* Exemple de padding */
  display: block; /* Assure que le padding fonctionne correctement */
  background-color: #007bff; /* Exemple de couleur de fond */
  color: white; /* Exemple de couleur de texte */
  text-decoration: none; /* Enlève le soulignement du lien */
  border-radius: 5px; /* Optionnel : arrondit les coins */
  text-align: center;
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
}

.trip-configurator__search-button:disabled{
  background-color: grey;
}
